/*
body{
  /*  background-color:white;*/
    /*background-image: url(img/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: 1400px;
    font-family:"Open sans", sans-serif;
    margin: 0;
  }
  * {
    text-align: center;
  }
table, Tr {
  border: 1px solid black;
}
*/

html{ 
  min-height:100%; 
  overflow-y:scroll;  
  /*background:#000; */
  background-image: url(img/Fondo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  }
  
body{
   font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; 
   padding:0; 
  }
  
  *{
    text-align: center;
  }
 
  table, tr {
  border: 1px solid black;
}

 

.mosaico {
  /*width:75px;
  height:75px;*/
  float:left;

}